# FOR LOOP

In [ ]:
pseudo code:
    for <variable> in <sequence>:
        <statement>

In [1]:
list=[1,2,3,4,5,6]

In [2]:
for step in list:
    input("Enter your name:")

Enter your name:THANIGAI MURUGAN
Enter your name:THANIGAI MURUGAN
Enter your name:THANIGAI MURUGAN
Enter your name:THANIGAI MURUGAN
Enter your name:THANIGAI MURUGAN
Enter your name:THANIGAI MURUGAN

In [3]:
for step in list:
    print("THANIGAI")

THANIGAI
THANIGAI
THANIGAI
THANIGAI
THANIGAI
THANIGAI

In [4]:
for step in list:
    print(f"The step is {step}")

The step is 1
The step is 2
The step is 3
The step is 4
The step is 5
The step is 6

# TASK

In [5]:
a=int(input("Enter the number of products in your trolly"))
for product in range (a):
    str(input("Enter the number of product:"))

Enter the number of products in your trolly4
Enter the number of product:pen
Enter the number of product:pencil
Enter the number of product:eraser
Enter the number of product:scale

In [6]:
a

4

In [25]:
prod_name=[]
total_item=int(input("Enter the number of items purchased:"))
for item in range(0,total_item):
    prod_name.append(input("Enter product name:"))

Enter the number of items purchased:4
Enter product name:galaxy
Enter product name:bounty
Enter product name:snickers
Enter product name:milky bar

In [27]:
prod_name

['galaxy', 'bounty', 'snickers', 'milky bar']

In [28]:
total_item

4

# WHILE LOOP

In [ ]:
pseudo code:
    while<condition>:
        <statements>